html {
  color: white;
  background-color:black;
}

div.frame {
  border:1px solid white;
}

input.input_style {
  border:none;
}

button {
  color:white;
  background-color:gray;
}

button.color_mode {
  background-color:gray;
  color:white;
}

button.display {
  background-color:gray;
  color:white;
}

table {
  border: 1px solid #dddddd;
}

td, th {
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
/*
tr:nth-child(even) {
  background-color: #333333;
}*/

canvas {
  border:1px solid #ffffff;
}
