html {
  color: black;
  background-color:white;
}

div.frame {
  border:1px solid #dddddd;
}

input.input_style {
  border: 1px solid #dddddd;
}

button {
  color:black;
}

.color_mode {
  color:black;
}

table {
  border:1px solid #dddddd;
}

td, th {
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
/*
tr:nth-child(even) {
  background-color: #dddddd;
}*/

canvas {
  border:1px solid #dddddd;
}
