@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

html {
  background: linear-gradient(359.75deg, #18243D 69.07%, #2A3D5C 99.93%);
  font-family: 'Nunito', sans-serif;
  height: 100%;
  color: white;
  overflow-y: hidden;
}

p {
  margin: 0;
}
body {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

button {
  border: none;
  color: inherit;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.body {
  margin: 8px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__cube {
  background-color: #324768;
  width: 40px;
  height:40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__label p {
  margin: 0;
}

.header__name {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.header__level {
  color: #8790A1; /* grey */
  font-size: 10px;
}

.header__img {
  width: 25px;
  height: 25px;
  align-self: center;
}

.chronos {
  width: 100px;
  height: 20px;
  float: right;
  margin-top: 5%;

  display: flex;
  flex-direction: row;

  border-radius: 10px;
  background-color:  #324768; /* blue */
  justify-content: space-evenly;
}

.chronos p {
  margin: 0;
  font-size: 13px;
}

.chronos__img {
  width: 12px;
  height: max-content;
  align-self: center;
}

.chronos__text {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.chronos__selected {
  font-weight: bold;
}

.average {
  background: linear-gradient(63.5deg, #0038FF 0%, #00FFFF 100%);
  border-radius: 15px;
  margin-top:15%;
  padding: 4%;
}

.average__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10%;
}

.average__results__container {
  display: flex;
  flex-direction: row;
}

.average__results__container hr {
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.5;
  margin: 0;
}

.average__title__label h2 {
  margin: 0;
}

.average__title__label p {
  font-size: 12px;
}

.average__title__result {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.average__results {
  width: 100%;
  text-align: center;
}

.average__results__label {
  font-size: 12px;
}

.average__results__chrono {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin: 5% 0;
}

.graph__average, .graph__time {
  padding: 3%;
  margin: 5% 0;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #2C3E5B;
}

.graph__average__img, .graph__time__img, .probability__img {
  width: 25px;
  height: max-content;
}

.graph__average__text, .graph__time__text, .probability__text {
  font-size: 12px;
  font-weight: bold;
}

.graph__average__button, .graph__time__button {
  width: 12px;
  height: max-content;
  align-self: center;
}

.extremum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.extremum__best, .extremum__worst {
  width: 47%;
  height: 150px;
  background-color: #2C3E5B;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.extremum__best__label, .extremum__worst__label {
  font-size: 12px;
  line-height: 93.4%;

  text-align: center;
}

.extremum__worst__time, .extremum__best__time {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

.probability {
  padding: 3%;
  margin: 5% 0;
  border-radius: 20px;

  display: flex;
  flex-direction: row;

  background-color: #2C3E5B;
}

.probability__text {
  align-self: center;
  width: 100%;
  text-align: center;
}

.footer__menu {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;

  background-color: #2C3E5B;
}

.footer__menu button{
  background: none;
  border: none;
}

.footer__img {
  width: 24px;
  height: max-content;
}

.footer__button {
  position: relative;
  z-index: 3;

  background: linear-gradient(34.53deg, #0038FF 11.14%, #00FFFF 83.88%, #0038FF 100%);

  width: 75px;
  height: 75px;
  border-radius: 50px;
  margin: -12%  auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 5px solid #18243D;
}

.footer__button__img {
  width: 35px;
}

.button__container {
  width: 75%;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

#addModal {
  display: none;;
}

.modal__add {
  position: fixed;
  bottom: -5px;
  width: 100%;
  border-radius: 30px;
  background-color: #2C3E5B;
}

.modal__add > * {
  margin-left: 5%;
  margin-right: 5%;
}

.modal__add h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;

  margin-top:8  %;
  margin-bottom: 5%;
}

.modal__add__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 155px;
  height: 40px;
  margin:auto;
  margin-bottom: 5%;

  background: linear-gradient(255.01deg, #00FFFF 0%, #0038FF 101.47%);
  border-radius: 32px;

  font-size: 18px;
  line-height: 25px;
  font-weight: bold;

}

.modal__button__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__button__container p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5%;
}

.modal__add__param {
  width: 230px;
  height:40px;
  background: linear-gradient(276.25deg, #00FFFF 5.33%, #0038FF 94.88%);
  border-radius: 45px;
  margin-bottom: 8%;
  margin-top: 8%;

  font-weight: bold;
  font-size: 14px;

}

.modal__arrow {
  font-family: 'Aldrich', sans-serif;
}

@media only screen and (max-height: 736px) {
  .chronos {
    margin-top: 2%;
  }
  .average {
    margin-top: 12%;
  }
  .average__title {
    margin-bottom: 5%;
  }
  .graph__average, .graph__time {
    margin: 3% 0;
  }
  .probability {
    margin: 0;
  }
}
