html {
  font-family:helvetica;
  font-size: 25pt;
  color: white;
  background-color:black;
}

h3 {
  text-align: center;
}

p {
  font-size:6pt;
}

input {
  font-size:25pt;
}

button {
  font-size:25pt;
  color: white;
  background-color: gray ;
}

input.largerCheckbox {
  width: 30px;
  height: 30px;
}

table {
  font-family: helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  font-size:25pt
}

tr:nth-child(even) {
  background-color: #333333;
}

canvas {
  width:100%;
  border:1px solid #ffffff;
}
