@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600i,700&display=swap');

html {
  background: linear-gradient(359.75deg, #18243D 69.07%, #2A3D5C 99.93%);
  font-family: 'Nunito', sans-serif;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__cube {
  background-color: #324768;
  width: 40px;
  height:40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__label p {
  margin: 0;
}

.header__name {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.header__level {
  color: #8790A1; /* grey */
  font-size: 10px;
}

.header__img {
  width: 25px;
  height: 25px;
  align-self: center;
}

.chronos {
  width: 100px;
  height: 20px;
  float: right;
  margin-top: 5%;

  display: flex;
  flex-direction: row;

  border-radius: 10px;
  background-color:  #324768; /* blue */
  justify-content: space-evenly;
}

.chronos p {
  color: white;
  margin: 0;
  font-size: 13px;
}

.chronos__img {
  width: 12px;
  height: max-content;
  align-self: center;
}

.chronos__text {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.chronos__selected {
  font-weight: bold;
}
