html {
  font-family:helvetica;
  font-size: 25pt;
  color: black;
  background-color:white;
}

h3 {
  text-align: center;
}

p {
  font-size:6pt;
}

input {
  font-size:25pt;
}

button {
  font-size:25pt;
  color:black;
}

.color_mode {
  border:none;
  border-radius:8px;
  color:black;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  display: inline-block;
}

input.largerCheckbox {
  width: 30px;
  height: 30px;
}

table {
  font-family: helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  font-size:25pt
}

tr:nth-child(even) {
  background-color: #dddddd;
}

canvas {
  width:100%;
  border:1px solid #ffffff;
}
