html {
  font-family:helvetica;
  font-size: 25pt;
}

h3 {
  text-align: center;
}

p {
  font-size:6pt;
}

input {
  font-size:25pt;
}
input.input_style {
  border-radius: 6px;
  padding-left: 5px;
}

button {
  font-size:25pt;
}

button.color_mode {
  border:none;
  border-radius:8px;
  text-align: center;
  font-size: 13pt;
  display: inline-block;
}
button.display {
  border:none;
  border-radius:8px;
  padding:5px;
  text-align: center;
  display: inline-block;
  width:100%;
}

input.largerCheckbox {
  width: 30px;
  height: 30px;
}

table {
  border-radius:8px;
  border-spacing: 0;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
}

td, th {
  text-align: left;
  padding: 5px;
  /*font-size:16pt;*/
}
tr:last-child > td {
  border-bottom: none;
}
tr > td:first-child {
  border-left: none;
}
/*
tr:nth-child(even) {
  background-color: #333333;
}*/

canvas {
  width:100%;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
